:root {
	--button_number: 3;
	--button_height: 100px;
	--button_width: 200px;
	--button_offset: 20%;
	--button_color_dormant: rgba(0,0,0,0.25);
	--button_color_hovered: rgba(256,256,256,0.25);
	--panel_color_background: rgba(0,0,0,0.25);
	--board_width: 500px;
	--board_height: 400px;
	--battlefield_padding: 100px;
	--day_sky_color: #00B5E2;
	--night_sky_color: #13294B;
	--day_ocean_color: #0065C4;
	--night_ocean_color: #08101c;
	--standard_radius: 20px;
	--standard_padding: 10px;
	--gap: 50px;
	--panel_spacing: 30px;
}

html {
	height: 100%;
	width: 100%l
}

.font {
	font-family: "Helvetica", sans-serif;
}

/* main_page */
.top_row {
	height: calc(var(--button_height) / 2);
	width: auto;
	position: absolute;
	display: grid;
	top: calc(var(--button_height) / 2.5);
	right: 0px;
	transform: translate(0%, -50%);
	grid-template-columns: repeat(auto-fit, calc(var(--button_width) / 3));
	grid-gap: calc(var(--button_width) / 12);
	z-index: 3;
}

.top_row > button {
	height: auto;
	width: calc(var(--button_width) / 3);
	font-size: 16px;
	border-radius: var(--standard_radius) !important;
	border-color: transparent !important;
	background-color: var(--button_color_dormant);
	color: white;
}

.top_row > button:hover {
	background-color: var(--button_color_hovered);
}

.panel_base {
	position: fixed;
	left: 50%;
	top: 15%;
	transform: translate(-50%, 0%);
	width: calc(var(--button_width) * 4);
	background-color: var(--panel_color_background);
	border-radius: var(--standard_radius);
	padding: calc(var(--standard_radius) * 2);
	transition: background-color 5s ease;
	z-index: 2;
}

.panel_header {
	font-size: 32pt;
	font-family: "Helvetica", sans-serif;
	color: white;
	padding-bottom: var(--panel_spacing);
	margin: 0px;
}

.menu_screen {
	display: grid;
	height: var(--button_height);
	width: auto;
	padding-bottom: var(--panel_spacing);
	margin: 0px;
	grid-template-columns: auto auto auto;
	grid-gap: calc(var(--standard_radius) * 2);
}

.menu_screen > button {
	height: auto;
	width: auto;
	font-size: 16pt;
	color: white;
	border-color: transparent !important;
	background-color: var(--button_color_dormant);
	border-radius: var(--standard_radius) !important;
}

.menu_button:hover {
	background-color: var(--button_color_hovered);
}

.links_base {
	padding: 5px;
	border-radius: var(--standard_radius);
	background-color: var(--button_color_dormant);
}

.links_holder {
	list-style-type: circle;
	color: white;
	overflow: hidden;
}

.links  {
	font-size: 12pt;
	color: white !important;
	text-decoration: none !important;
}

.background {
	position: fixed;
	height: 100%;
	width: 100%;
	left: 0%;
	bottom: 0%;
	z-index: 1;
}

.sky_whole {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0%;
	left: 0%;
	transition: background-color 3s ease;
	overflow: hidden;
}

.sky_day {
	background-color: var(--day_sky_color);
}

.sky_night {
	background-color: var(--night_sky_color);
}

.ocean_day {
	background-color: var(--day_ocean_color);
}

.ocean_night {
	background-color: var(--night_ocean_color);
}

.ship_night {
	opacity: 0.97;
}

.main_screen_ship {
	opacity: 1.0;
	position: fixed;
	bottom: 0%;
	animation-name: rocking, fadeIn;
	animation-duration: 3s, 3s;
	animation-iteration-count: infinite, 1;
	animation-direction: alternate, normal;
}

@keyframes rocking {
	from {
		bottom: -13%;
	}

	to {
		bottom: -10%;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	
	to {
		opacity: 1;
	}
}

/* board_page */
.ocean_setting {
	position: absolute;
	width: 100%;
	height: 85%;
	left: 0%;
	bottom: 0%;
	transform: translate(0%, 0%);
	/* overflow: hidden; */
}

.round_heading {
	position: absolute;
	height: 10%;
	color: rgb(256, 256, 256);
	/* transform: translate(-50%, 0%); */
	z-index: 4;
}

.round_title {
	position: fixed;
	right: 20%;
	transform: translate(90%, 0%);
}

.battlefield {
	position: absolute;
	left: 50%;
	height: 100%;
	width: 85%;
	padding-bottom: var(--battlefield_padding);
	transform: translate(-50%, 0%);
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	overflow: scroll;
	scrollbar-width: none;
}

.battlefield::-webkit-scrollbar {
	display: none;
}

.player_title {
	position: absolute;
	color: rgb(256, 256, 256);
}

.board {
	position: relative;
	height: var(--board_height);
	width: var(--board_width);
	/* width: calc(50% - (2 * var(--battlefield_padding))); */
	padding: 10px;
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
	grid-gap: 1px;
}

.main_button {
	position: absoute;
	width: calc(var(--board_width)/10);
	height: calc(var(--board_height)/10);
	color: white;
	font-size: 16px;
	border: none;
	border-color: none;
	outline: none;
	opacity: 0.85;
	border-radius: 0px;
	box-shadow: none;
}

.main_button_untouched {
	background-color: rgba(256, 256, 256, 0.1);
}

.main_button_untouched:hover {
	background-color: rgba(256, 256, 256, 0.5);
}

.main_button_hit {
	background-color: red;
}

.main_button_miss {
	background-color: rgba(256,256,256,1);
}

.main_button_empty {
	background-color: rgba(256,256,256,0.3);
}

.main_button_ship {
	background-color: rgba(256,256,256,0);
}

.Carrier > img {
	width: calc(var(--board_width)/10);
	height: calc(var(--board_height)/10);
	overflow: hidden;
}

.Battleship > img {
	width: calc(var(--board_width)/10);
	height: calc(var(--board_height)/10);
	overflow: hidden;
}

.Destroyer > img {
	width: calc(var(--board_width)/10);
	height: calc(var(--board_height)/10);
	overflow: hidden;
}

.Submarine > img {
	width: calc(var(--board_width)/10);
	height: calc(var(--board_height)/10);
	overflow: hidden;
}

.Patrol_Boat > img {
	width: calc(var(--board_width)/10);
	height: calc(var(--board_height)/10);
	overflow: hidden;
}

.button_row_0 {
  grid-row-start: 1;
  grid-row-end: 2;
}

.button_row_1 {
  grid-row-start: 2;
  grid-row-end: 3;
}

.button_row_2 {
  grid-row-start: 3;
  grid-row-end: 4;
}

.button_row_3 {
  grid-row-start: 4;
  grid-row-end: 5;
}

.button_row_4 {
  grid-row-start: 5;
  grid-row-end: 6;
}

.button_row_5 {
  grid-row-start: 6;
  grid-row-end: 7;
}

.button_row_6 {
  grid-row-start: 7;
  grid-row-end: 8;
}

.button_row_7 {
  grid-row-start: 8;
  grid-row-end: 9;
}

.button_row_8 {
  grid-row-start: 9;
  grid-row-end: 10;
}

.button_row_9 {
  grid-row-start: 10;
  grid-row-end: 11;
}

.button_col_0 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.button_col_1 {
  grid-column-start: 2;
  grid-column-end: 3;
}

.button_col_2 {
  grid-column-start: 3;
  grid-column-end: 4;
}

.button_col_3 {
  grid-column-start: 4;
  grid-column-end: 5;
}

.button_col_4 {
  grid-column-start: 5;
  grid-column-end: 6;
}

.button_col_5 {
  grid-column-start: 6;
  grid-column-end: 7;
}

.button_col_6 {
  grid-column-start: 7;
  grid-column-end: 8;
}

.button_col_7 {
  grid-column-start: 8;
  grid-column-end: 9;
}

.button_col_8 {
  grid-column-start: 9;
  grid-column-end: 10;
}

.button_col_9 {
  grid-column-start: 10;
  grid-column-end: 11;
}
