
:root {
	--button_number: 3;
	--button_height: 100px;
	--button_width: 200px;
	--button_offset: 20%;
	--sky_color: #00B5E2;
	--standard_radius: 20px;
	--standard_padding: 10px;
	--gap: 50px;
}

html {
	background-color: var(--sky_color);
}

.font {
	font-family: "Helvetica", sans-serif;
	color: white;
	padding-bottom: 30px;
}

.sky_base {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: calc(var(--button_width) * 4);
	background-color: rgba(0,0,0,0.25);
	border-radius: var(--standard_radius);
	padding: calc(var(--standard_radius) * 2);
	transition: background-color 5s ease;
}

/* main_page */
.menu_screen {
	display: grid;
	height: var(--button_height);
	width: auto;
	grid-template-columns: auto auto auto;
	grid-gap: calc(var(--standard_radius) * 2);
}

.menu_button > button {
	height: var(--button_height);
	width: auto;
	background-color: blue;
	border-radius: var(--standard_radius);
}

.menu_button:hover {
	background-color: lightblue;
}

/* board_page */
.panel {
	top: 25%;
	height: 100vh;
	width: 100%;
	padding: 10px;
	display: grid;
	grid-template-columns: auto auto;
	gap: 0px;
}

.board {
	height: 75%;
	padding: 10px;
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
	gap: 0px;
}

.enemy_board {
	grid-column-start: 1;
	grid-column-end: 2;
}

.home_board {
	grid-column-start: 2;
	grid-column-end: 3;
}

.main_button {
	position: absoute;
	color: white;
	font-size: 16px;
	border: none;
	border-color: none;
	outline: none;
	opacity: 0.85;
	border-radius: 0px;
	box-shadow: none;
}

.main_button_untouched {
	background-color: darkblue;
}

.main_button_untouched:hover {
  background-color: lightblue;
  opacity: 1;
}

.main_button_ship {
  background-color: grey;
}

.main_button_miss {
  background-color: blue;
}

.main_button_hit {
  background-color: red;
}

.button_row_0 {
  grid-row-start: 1;
  grid-row-end: 2;
}

.button_row_1 {
  grid-row-start: 2;
  grid-row-end: 3;
}

.button_row_2 {
  grid-row-start: 3;
  grid-row-end: 4;
}

.button_row_3 {
  grid-row-start: 4;
  grid-row-end: 5;
}

.button_row_4 {
  grid-row-start: 5;
  grid-row-end: 6;
}

.button_row_5 {
  grid-row-start: 6;
  grid-row-end: 7;
}

.button_row_6 {
  grid-row-start: 7;
  grid-row-end: 8;
}

.button_row_7 {
  grid-row-start: 8;
  grid-row-end: 9;
}

.button_row_8 {
  grid-row-start: 9;
  grid-row-end: 10;
}

.button_row_9 {
  grid-row-start: 10;
  grid-row-end: 11;
}

.button_col_0 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.button_col_1 {
  grid-column-start: 2;
  grid-column-end: 3;
}

.button_col_2 {
  grid-column-start: 3;
  grid-column-end: 4;
}

.button_col_3 {
  grid-column-start: 4;
  grid-column-end: 5;
}

.button_col_4 {
  grid-column-start: 5;
  grid-column-end: 6;
}

.button_col_5 {
  grid-column-start: 6;
  grid-column-end: 7;
}

.button_col_6 {
  grid-column-start: 7;
  grid-column-end: 8;
}

.button_col_7 {
  grid-column-start: 8;
  grid-column-end: 9;
}

.button_col_8 {
  grid-column-start: 9;
  grid-column-end: 10;
}

.button_col_9 {
  grid-column-start: 10;
  grid-column-end: 11;
}
